@model Cliente

<h1>Deletar cliente</h1>

<form method="post">
    <input asp-for="Id" hidden/>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="mb-3 row">
        <label>Nome do cliente</label>
        <input type="text" asp-for="Name" disabled />
        <span asp-validation-for="Name" class="text-danger"></span>

    </div>
    <div class="mb-3 row">
        <label>Valor da conta</label>
        <input type="text" asp-for="Value" disabled />
        <span asp-validation-for="Value" class="text-danger"></span>

    </div>
    <div class="mb-3 row">

        <button type="submit" class="btn btn-danger">Deletar</button>
        <a asp-controller="Cliente" asp-action="Index" class="btn btn-outline-dark">Consultar Clientes</a>
    </div>
</form>

